* {
    box-sizing: border-box; /* El padding no afecta el ancho total */
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    background: #2c3e50;
    color: white;
    border-radius: 10px;
}

#lista-planetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px; /* Espacio entre las cajas */
}

.planeta-card {
    background: white;
    border: 1px solid #ddd;
    padding: 20px; /* Espacio interno (Box Model) */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.planeta-card:hover {
    transform: scale(1.02);
    border-color: #3498db;
}

.planeta-card h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}